---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { fix, getFirstImage } from "../components/utils/fix.js";

const baseUrl = import.meta.env.WP_API;

const res = await fetch(`${baseUrl}/pages?per_page=100`);
const pages = await res.json();

const mainPages = pages.filter((p) => p.parent === 0);
const home = mainPages[0] ?? pages[0];
const homeSlug = home.slug;

const children = pages.filter((p) => p.parent === home.id);

let sortedMainPages = mainPages.filter(
  (p) =>
    !p.title.rendered.toLowerCase().includes("impressum") &&
    !p.title.rendered.toLowerCase().includes("datenschutz"),
);

const footerPages = pages.filter((p) =>
  ["impressum", "datenschutz"].some((k) =>
    p.title.rendered.toLowerCase().includes(k),
  ),
);
---

<BaseLayout title={fix(home.title.rendered)} bodyClass="home-page">
  <div class="grid-layout">
    <Sidebar
      pages={sortedMainPages}
      activeSlug={homeSlug}
      footerPages={footerPages}
    />

    <main class="content-area">
      <div class="content">
        <div class="wp-content" set:html={fix(home.content.rendered)} />

        <div class="subpages">
          {
            children.map((c) => {
              const img = getFirstImage(c.content.rendered);
              return (
                <a href={`/${c.slug}`} class="subpage">
                  {img && <img src={img} />}
                </a>
              );
            })
          }
        </div>
      </div>
    </main>
  </div>

  <Footer slot="footer" footerPages={footerPages} />
</BaseLayout>
